<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link rel="stylesheet" href="css/style.css" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>سرگرمی</title>
</head>

<body bgcolor="#000000">
<div align="center">
  <table width="716" height="1065" border="0">
    <tr>
      <td height="137" colspan="2" align="center" background="img/header.jpg"><h5>وب سایت آموزشی نوین نت</h5>
      <p><b>خوش آمدید </b></p></td>
    </tr>
    <tr align="right">
      <td height="25" colspan="2" valign="top"><table width="703" border="0">
        <tr>
          <td width="112" height="26" align="center" background="img\Kinda Weird (4).png"><h3><a href="aboutme.html" >سرگرمی </a></h3></td>
          <td width="112" align="center" background="img\Kinda Weird (4).png"><a href="callme.html" class="style1">تماس با ما </a></td>
          <td width="112" align="center" background="img\Kinda Weird (4).png"><a href="download.html">دانلود</a></td>
          <td width="112" align="center" background="img\Kinda Weird (4).png"><a href="pictures.html">تصاویر</a></td>
          <td width="112" align="center" background="img\Kinda Weird (4).png"><a href="learn.html">آموزش</a></td>
          <td width="112" align="center" background="img\Kinda Weird (4).png"><a href="index.html">خانه</a></td>
        </tr>
      </table></td>
    </tr>
    <tr>
      <td width="503" height="110" align="center" valign="top" background="img\slider-simple.png" style="background-position:top"><p>خوش آمدید</p>
      <p>&nbsp;</p></td>
      <td width="203"><table width="203" border="0">
        <tr>
          <td width="197" height="42" align="center" background="img\Simple Rounded (4).png"><h5>مدیریت</h5></td>
        </tr>
        <tr>
          <td height="37" align="right">این وب سایت توسط امیر رفیعی پور مدیریت می شود </td>
        </tr>
        <tr>
          <td height="45" align="center" background="img\Simple Rounded (4).png"><h5>لینک ها</h5></td>
        </tr>
        <tr>
          <td align="right"><a href="a">لینک 1</a><img src="img/link.png" /> </td>
        </tr>
        <tr>
          <td align="right"><a href="b">لینک 2</a><img src="img/link.png" /> </td>
        </tr>
        <tr>
          <td align="right"><a href="c">لینک 3</a> <img src="img/link.png" /></td>
        </tr>
        <tr>
          <td align="right"><a href="d">لینک 4</a> <img src="img/link.png" /></td>
        </tr>
        <tr>
          <td align="right"><a href="e">لینک 5</a><img src="img/link.png" /> </td>
        </tr>
        <tr>
          <td align="right"><a href="f">لینک 6</a><img src="img/link.png" /> </td>
        </tr>
        <tr>
          <td align="right"><a href="g">لینک 7</a><img src="img/link.png" /> </td>
        </tr>
        <tr>
          <td align="right"><a href="h">لینک 8</a><img src="img/link.png" /> </td>
        </tr>
        <tr>
          <td align="right"><a href="i">لینک 9</a> <img src="img/link.png" /></td>
        </tr>
        <tr>
          <td align="right"><a href="j">لینک 10</a><img src="img/link.png" /> </td>
        </tr>
        <tr>
          <td height="42" align="center" background="img\Simple Rounded (4).png"><h5>تبلیغات متنی</h5></td>
        </tr>
        <tr>
          <td align="right"><p>انجام پروژه های طراحی وب در کوتاه ترین زمان ممکن </p>
            <p>تماس با شماره تلفن </p>
            <p align="center">09379618197</p></td>
        </tr>

        <tr>
          <td height="42" align="center" background="img\Simple Rounded (4).png"><h5>لینک دوستان</h5></td>
        </tr>
        <tr>
          <td align="right"><p><a href="k">لینک 1</a><img src="img/link.png" /></p>
            <p><a href="l">لینک 2</a><img src="img/link.png" /></p>
            <p><a href="m">لینک 3</a> <img src="img/link.png" /></p></td>
        </tr>
        <tr>
          <td height="41" align="center" background="img\Simple Rounded (4).png"><h5>سخن مدیر</h5></td>
        </tr>
        <tr>
          <td height="170" align="right">امیدوارم مطالب این سایت برای شما عزیزان مفید باشد و از این مطالب بتوانید در راستای بالا بردن سطح علمی جامعه استفاده کنید </td>
        </tr>
      </table></td>
    </tr>

    <tr>
      <td height="275" colspan="2" align="center" ><img src="img\main-feature.gif" /></td>
    </tr>
  </table>
</div>
</body>
</html>
